<?xml version="1.0" encoding="UTF-8"?>
<projects>
    <project>/home/kaneki/Documents/MAI/Informatics/Labs/lab6/lab6_V3_0_backup123.jdtp</project>
    <project>/home/kaneki/Documents/MAI/Informatics/Labs/lab6/lab6_v2_0.jdtp</project>
    <project>/home/kaneki/Documents/MAI/Informatics/Labs/lab6_v2_0/lab6.jdtp</project>
    <project>/home/kaneki/Documents/MAI/Informatics/Labs/lab6/lab6.jdtp</project>
</projects>
